.nutrition {

font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
text-align: center;
font-weight: 900;
font-size: 300%;
}

.flex-container {
  display: flex;
  background-color: #f1f1f1;
}

.flex-container > div {
  background-color: pink;
  color:black;
  width: 200px;
  margin: 20px;
  text-align: center;
  line-height: 75px;
  font-size: 30px;
  width: auto;
  flex-grow: 2;
  height: 350px;
  display: flex;
  justify-content: center;
  align-items: center;

}

.intro {
  text-align: center;
  text-indent: 50px;
  text-align: justify;
  letter-spacing: 3px;
  font-size: 105%;
  display: flex;
  justify-content: center;
  align-items: center;
}


/* .breakfast {
  justify-content: center;
  align-items: center;
  flex-direction: column;

} */


.breakfast-heading {

  font-family: monospace;
}


.breakfast-meals {
    font-family:sans-serif;

}

.meal-header {

  font-family: monospace;
  font-weight: bold;
  text-align: center;
  text-transform: uppercase;
}


.nutrition-banner {
  max-width: 100%;
  height: 700px;
}

.breakfast-photo {
  max-width: 100%;
  height: 700px;
}

.recipe-tag {
  margin-top: 32px;
  text-align: center;
}

.recipe {
  font-weight: bold;
  font-size: 20px;
  text-transform: uppercase;
}

.avocado {
  height: 400px;
  width: 300px;
  

}

.avocado-wrapper {
  display: flex;
  justify-content: center;
  background-color: lightblue;
  padding: 15px;
  border-radius: 5px;
  width: 90%;
  align-self: center;

}

.avocado-description {
  
}

.breakfast-wrapper {
  display: flex;
  flex-direction: column;

}

.avocado-left {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
}